* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero {
  background: #ffffff;
  width: 1440px;
  /* height: 1024px; */
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.logo span {
  color: #0065fe;
  font-size: 25px;
}

.logo img {
  line-height: 1.5;
  height: 20px;
}

.urls li {
  list-style-type: none;
  color: black;
  font-size: 13px;
}

.urls ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.login {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.loginBtn {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
}

.tryFree {
  padding: 10px 20px;
  background-color: #0065fe;
  border-radius: 15px;
  outline: none;
}

/* footer i'm styling */
.footerContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
}

.footerScissor {
}

.footerSocials {
  display: flex;
  flex-direction: row;
}

.topRow {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.whySci {
}

.whySci li {
  list-style-type: none;
}

.Solutions {
}

.Solutions li {
  list-style-type: none;
}

.Products {
}

.Products li {
  list-style-type: none;
}

.Company {
}

.Company li {
  list-style-type: none;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.Resources {
}

.Resources li {
  list-style-type: none;
}

.Features {
}

.Features li {
  list-style-type: none;
}

.Legal {
}

.Legal li {
  list-style-type: none;
}
/* footer i'm styling */

/* Styling Hero Section */

.Optimize {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.optimizeYourOnlineExperience {
  text-align: center;
  font: 400 48px/96px "Gilroy-Bold", sans-serif;
  position: relative;
  width: 948px;
  height: 200px;
}

/* .optimizeShortened {
  text-align: center;
  font: 400 48px/96px "Gilroy-Bold", sans-serif;
  position: relative;
  width: 948px;
  height: 200px;
} */

.personalizeShortened {
  color: var(--text-color-maintext, #141414);
  text-align: center;
  font: 400 18px/28px "Gilroy-Medium", sans-serif;
  position: relative;
  width: 781px;
  height: 105px;
}

.optimizeBtn {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.signUp {
  background: var(--primary-300-base, #0065fe);
  border-radius: 100px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 142px;
  height: 44px;
}

.signUpWords {
  color: var(--neutral-white, #ffffff);
  font: 400 16px/12px "Gilroy-SemiBold", sans-serif;
  padding: 12px 24px;
  border-radius: 100px;
  border: 0;
  background-color: var(--primary-300-base, #0065fe);
}

.learnMore {
  color: var(--primary-300-base, #0065fe);
  font: 400 16px "Gilroy-SemiBold", sans-serif;
  border: 0;
  background-color: transparent;
}

/* .learnMore:hover {
  padding: 12px 24px;
  border-radius: 100px;
  color: var(--neutral-white, #ffffff);
  background-color: var(--primary-300-base, #0065fe);
} */

.words {
  color: var(--text-color-maintext, #141414);
  font: 400 48px/96px "Gilroy-Bold", sans-serif;
}

.URLshortening {
  color: var(--primary-400, #005ae2);
  font: 400 48px/96px "Gilroy-Bold", sans-serif;
}

.solutionWord {
  color: var(--text-color-maintext, #141414);
  font: 400 48px/96px "Gilroy-Bold", sans-serif;
}

.imageBoarder {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
}

.vector-2 {
  left: 270px;
  top: 90px;
  transform: translate(69.39px, -108.36px);
  overflow: visible;
  position: absolute;
  z-index: -1;
}

.insideBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.imageInside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.words1 {
  color: var(--text-color-maintext, #141414);
  text-align: center;
  font: 400 18px/28px "Gilroy-Medium", sans-serif;
  position: relative;
  width: 781px;
  height: 105px;
}

.rectangle {
  border-radius: 0px 0px 0px 0px;
  position: relative;
  overflow: visible;
}

/* Styling Hero Section */

/* page 2 styling */
.top {
  background: #f9fbfd;
  padding: 60px 140px 60px 140px;
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.onestop {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.insideOneStop {
  text-align: left;
  font: 400 40px/48px "Gilroy-Bold", sans-serif;
  position: relative;
  width: 337px;
}

.possi {
  color: var(--primary-400, #005ae2);
  font: 400 40px/48px "Gilroy-Bold", sans-serif;
}

.monthlyUsers {
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

.m-3 {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.m-3-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.m-3-2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}

.mword {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 32px/40px "Gilroy-SemiBold", sans-serif;
  position: relative;
}

.activeUsers {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 16px/24px "Gilroy-Medium", sans-serif;
  position: relative;
}

.m-60 {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 32px/40px "Gilroy-SemiBold", sans-serif;
  position: relative;
}

.links-qr {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 16px/24px "Gilroy-Medium", sans-serif;
  position: relative;
  width: 123px;
  height: 52px;
}

.b-1 {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

._b1 {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 32px/40px "Gilroy-SemiBold", sans-serif;
  position: relative;
}

.clicked {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 16px/24px "Gilroy-Medium", sans-serif;
  position: relative;
  width: 143px;
  height: 56px;
}

.k-300 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._k300 {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 32px/40px "Gilroy-SemiBold", sans-serif;
  position: relative;
}

.appint {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 16px/24px "Gilroy-Medium", sans-serif;
  position: relative;
}

.bottom {
  display: flex;
  flex-direction: row;
  gap: 96px;
  width: 1202px;
  margin: auto;
  margin-top: 130px;
}

.ysci {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  padding: 10px;
}

.chooseScissors {
  display: flex;
  gap: 16px;
}

.csTxt {
  color: var(--text-color-maintext, #141414);
  text-align: left;
  font: 400 16px/28px "Gilroy-Medium", sans-serif;
  position: relative;
  width: 370px;
  height: 192px;
}

.linksci {
  display: flex;
}

.blueSci {
  color: #005ae2;
}

.url-shortening {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

.ellipse {
  margin-bottom: 20px;
}

.price_perfect {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 130px;
}

.price_perfect_image {
  display: flex;
}

.price_perfect_txt {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop_10 {
  padding-right: ;
}

.basic_free {
  border: 0.4px solid #005ae2;
  border-radius: 12px;
  align-items: flex-start;
  gap: 7px;
  padding: 10px 20px 5px 30px;
  margin-bottom: 80px;
}

.teams_monthly {
  border: 0.4px solid #005ae2;
  border-radius: 12px;
  align-items: flex-start;
  gap: 7px;
  padding: 10px 20px 5px 30px;
  margin-bottom: 80px;
}

.pro_monthly {
  border: 0.4px solid #005ae2;
  border-radius: 12px;
  align-items: flex-start;
  gap: 7px;
  color: white;
  background-image: linear-gradient(
    180deg,
    #1e3448 99.99%,
    rgba(30, 52, 72, 0) 100%
  );
  padding: 90px 70px 90px 70px;
  margin-bottom: 68px;
}

.basic_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 16px;
}

.desktop1_btn {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.desktop1Words {
  color: var(--primary-300-base, #0065fe);
  font: 400 16px/12px "Gilroy-SemiBold", sans-serif;
  padding: 12px 24px;
  border-radius: 100px;
  border: 2px solid #0065fe;
  background-color: var(--neutral-white, #ffffff);
  margin-bottom: 120px;
}

.selectPricingBtn {
  color: var(--neutral-white, #ffffff);
  font: 400 16px/12px "Gilroy-SemiBold", sans-serif;
  padding: 12px 24px;
  border-radius: 100px;
  border: 0;
  background-color: var(--primary-300-base, #0065fe);
  margin-bottom: 120px;
}
/* page 2 styling */
